.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

#resetPassImgCont{
    height:35vh;
    width:98vw;
    border-radius: 10px;
    margin:20px auto;
    background: rgba(255, 0, 0, 0.8);
    overflow: hidden;
}

#resetPassImg{
    position: relative;
    width: 98vw;
    top:-480px;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 24vw;
    min-height:330px;
    border-radius: 10px;
    padding:10px;
    margin:auto;
    position: relative;
    top:-120px;
    z-index: 1;
    background-color: white;
    box-shadow: 0 2px 10px  rgba(177, 176, 176, 0.655);
}

.reset-button{
    width:22vw;
    font-family : "Roboto", "Helvetica", "Arial", sans-serif;
    font-size : 16px;
    letter-spacing : 0.1876px;
    line-height : 32.5px;
    color : rgb(255, 255, 255);
    margin:auto;
    background-color: #4492f0;
    height:40px;
    border-radius:8px;
    border-style: none;   
    margin: 20px 0;
    color:white;
    position: relative;
    /* top:-px; */
}

.reset-button:hover{
    box-shadow: 0 5px 10px  #4491f086;
} 
#resetPass{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 22vw;
    height:18vh;
    background-color: #4492f0;
    border-radius: 10px;
    position:relative;
    top:-40px;
    box-shadow: 0 5px 15px  #777a7aa7;
    font-family : "Roboto", "Helvetica", "Arial", sans-serif;
    font-size : 22px;
    letter-spacing : 0.1876px;
    line-height : 32.5px;
    color : rgb(255, 255, 255);
    text-align : center;
    word-spacing : 0px;
    font-weight: 700;
} 

.resetPassIn{
    position: relative;
    top:-20px;
    width:22vw;
    height:45px;
    margin:5px;
    border-style: none;
    border-bottom: 1px solid #696c7092;
    transition: border-bottom  0.3s ease-in-out;
}

.resetPassIn:focus{
    border-bottom: 2px solid #4492f0;
    outline: none;
}